<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Update attack</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1 th:text="'Update '+ ${pokemon.name}+ ' attack'"></h1>
        <form action="#" th:action="@{/admin/attacks/update(pk_id=${pokemon.id})}" th:object="${attack}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label>Name: </label>
            <input type="text" th:field="*{name}"/>
            <label>Type: </label>
            <select th:field="*{elementType}" th:remove="all-but-first">
                <option th:each="type : ${types}"
                        th:value="${type.id}" th:text="${type.name}">Element type</option>
            </select>
            <select th:field="*{attackType}" th:remove="all-but-first">
                <option th:each="atkType : ${T(pl.pokecounter.pokemon.domain.AttackType).values()}"
                        th:value="${atkType}" th:text="${atkType}">Attack type</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>