<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Attacks</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1 th:text="${pokemon.name} + ' attacks'"></h1>
        <a class="addButton" href="#" th:href="@{/admin/attacks/add(pk_id=${pokemon.id})}">New Attack</a>
        <div>
            <div class="borderBottom" th:each="attack : ${attacks}">
                <h2 th:text="${attack.name}+ ' (' + ${attack.elementType.name}+', ' + ${attack.attackType} + ')' "></h2>
                <a class="editButton" href="#" th:href="@{/admin/attacks/update(pk_id=${pokemon.id},atk_id=${attack.id})}">Edit</a>
                <a class="deleteButton" href="#" th:href="@{/admin/attacks/delete(pk_id=${pokemon.id},atk_id=${attack.id})}"
                   onclick="return confirm('Do you really want to delete?');">Delete</a>
            </div>
        </div>
        <a class="backButton" th:href="@{'/admin/pokemons/details/'+${pokemon.id}}">Back</a>
    </div>
</body>
</html>