<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Pokemon types</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1 th:text="${pokemon.name} + ' element types'"></h1>
        <a class="addButton" style="margin-bottom: 10px;" th:href="@{/admin/pokemons/types/add(pk_id=${pokemon.id})}">Set new type</a>
        <div class="borderBottom inline">
            <div th:each="type : ${types}">
                <p th:text="${type.name}"/>
                <p><a class="deleteButton" th:href="@{/admin/pokemons/types/delete(pk_id=${pokemon.id},type_id=${type.id})}"
                   onclick="return confirm('Do you really want to delete?');">Delete</a></p>
            </div>
        </div>
        <a class="backButton" th:href="@{'/admin/pokemons/details/'+${pokemon.id}}">Back</a>
    </div>
</body>
</html>