<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Pokemon details</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1 th:inline="text">[[${pokemon.pokedexId}]]. [[${pokemon.name}]] details</h1>
        <img class="inline imgcms" th:src="@{${pokemon.imageUrl}}" />
        <div class="borderBottom">
            <div class="inline">
                <p style="font-size: 1.8em;">Pokemon info:</p>
                <p><a class="editButton" th:href="@{'/admin/pokemons/update/'+${pokemon.id}}">Edit</a></p>
            </div>
            <div class="data">
                <p th:inline="text">Pokedex:     [[${pokemon.pokedexId}]]</p>
                <p th:inline="text">Name:        [[${pokemon.name}]]</p>
                <p th:inline="text">Ogarnietosc: [[${pokemon.rarity}]]</p>
                <p th:inline="text">Description: [[${pokemon.description}]]</p>
                <p th:inline="text">Image url:   [[${pokemon.imageUrl}]]</p>
            </div>
        </div>
        <div class="borderBottom">
            <div class="inline">
                <p style="font-size: 1.8em;">Pokemon types:</p>
                <p><a class="editButton" th:href="@{/admin/pokemons/types(pk_id=${pokemon.id})}">Edit</a></p>
            </div>
            <div class="data inline">
                <p th:each="type : ${pokemon.elementTypes}" th:text="${type.name}"></p>
            </div>
        </div>
        <div class="borderBottom">
            <div class="inline">
                <p style="font-size: 1.8em;">Pokemon attacks:</p>
                <p><a class="editButton" th:href="@{/admin/attacks(pk_id=${pokemon.id})}">Edit</a></p>
            </div>
            <div class="data">
                <p th:each="attack : ${pokemon.pokemonAttacks}" th:text="${attack.name} + ' (' + ${attack.elementType.name} +', ' + ${attack.attackType} + ')'"></p>
            </div>
        </div>
        <a class="backButton" href="/admin/pokemons">Back</a>
    </div>

</body>
</html>