<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Pokemons</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"/>
        <div class="content">
            <h1>Pokemons</h1>
            <a class="addButton" href="/admin/pokemons/add">New Pokemon</a>
            <div class="collection" th:each="pokemon : ${pokemons}">
                <div class="borderBottom cont">
                        <a th:href="@{'/admin/pokemons/details/'+${pokemon.id}}">
                            <img class="inline imgcms" th:src="@{${pokemon.imageUrl}}" />
                        </a>
                        <div class="inline details">
                            <p style="font-size: 2em;" th:text="${pokemon.pokedexId} + '. ' + ${pokemon.name}"></p>
                            <p><a class="editButton" th:href="@{'/admin/pokemons/details/'+${pokemon.id}}">Details</a></p>
                            <p><a class="deleteButton" th:href="@{'/admin/pokemons/delete/'+${pokemon.id}}"
                                  onclick="return confirm('Do you really want to delete?');">Delete</a></p>
                            <div>
                                <p class="data inline" style="font-size: 0.8em" th:inline="text">Ogarnietosc: [[${pokemon.rarity}]]</p>
                            </div>
                            <div class="data inline" style="font-size: 0.8em">
                                <p>Types:</p>
                                <p th:each="type : ${pokemon.elementTypes}" th:text="${type.name}"></p>
                            </div>
                            <div class="dataX" style="font-size: 0.8em">
                                <p>Attacks: </p>
                                <ul>
                                    <li class="data" th:each="attack : ${pokemon.pokemonAttacks}" th:text="${attack.name} + ' (' + ${attack.elementType.name} +', ' + ${attack.attackType} + ')'"></li>
                                </ul>
                            </div>
                        </div>

                </div>
            </div>
        </div>
</body>
</html>