<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Add pokemon type</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1 th:text="'Add type to '+ ${pokemon.name}"></h1>
        <form th:action="@{/admin/pokemons/types/add(pk_id=${pokemon.id})}" th:object="${pokemon}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label>Available Types:</label>
            <select th:field="*{elementTypes}" th:remove="all-but-first">
                <option th:each="type : ${types}"
                        th:value="${type.id}" th:text="${type.name}">Element type</option>
            </select>
            <input type="submit" value="Submit"/>
        </form>
        <a class="backButton" th:href="@{/admin/pokemons/types(pk_id=${pokemon.id})}">Back</a>
    </div>
</body>
</html>