<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Edit type</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1>Type Details </h1>
        <form style="border-bottom: solid 1px #34302d" action="#" th:action="@{/admin/types/update}" th:object="${type}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label>Name: </label>
            <input type="text" th:field="*{name}"/>
            <label>Color: </label>
            <input type="color"  th:field="*{color}"/>
            <input type="submit" value="Submit" />
        </form>
        <div style="margin-bottom: 50px; margin-top: 20px;">
            <h3 style="text-align: center" th:inline="text">[[${type.name}]] is weak against: </h3>
            <div class="collection" th:each="counter : ${counters}">
                <div style="width: 50%; margin: auto; text-align: center;" class="counters">
                    <p th:text="${counter.attackingType.name}"></p>
                </div>
            </div>
            <a class="addButton" th:href="@{/admin/relations/add(type_id=${type.id})}">Edit counters</a>
            <a class="backButton" style="font-size: 1em;" th:href="@{/admin/types}">Back</a>
        </div>
    </div>
</body>
</html>