<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Types</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content" style="width: 40%;">
        <h1>Types</h1>
        <div>
            <a class="addButton" href="/admin/types/add">Add new Type</a>
        </div>
        <div class="collection" th:each="type : ${types}">
            <div class="element">
                <div>
                    <h3  th:style="'color: ' + ${type.color}" th:text="${type.name}"/>
                    <a class="editButton" th:href="@{'/admin/types/update/'+${type.id}}">Edit</a>
                    <a class="deleteButton" th:href="@{'/admin/types/delete/'+${type.id}}"
                       onclick="return confirm('Do you really want to delete?');">Delete</a>
                    <label></label>
                </div>
              <div class="counters">
                    <label>Counter types:</label>
                    <p th:each="relation : ${type.typesRelations}" th:style="'display: inline-block; color: ' + ${relation.attackingType.color}"
                       th:text="${relation.attackingType.name}" th:if="${relation.damageMultiplier > 1}"></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>