<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Add type</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div th:class="content">
        <h1>Add new Type</h1>
        <form action="#" th:action="@{/admin/types/add}" th:object="${type}" method="post">
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
            <label>Color: </label>
            <input type="color" value="#ff0000" th:field="*{color}"/>
            <input type="submit" value="Submit" />
            <a th:href="@{/admin/types}" class="backButton">Back</a>
        </form>
    </div>
</body>
</html>