<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Counters</title>
</head>
<body>
    <div th:replace="cms/fragments/head :: nav"></div>
    <div class="content">
        <h1 th:inline="text">[[${baseType.name}]]</h1>

        <form th:action="@{/admin/relations/add}" th:object="${baseType}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label style="font-size: 1.4em; margin-bottom: 20px;">Relations:</label>
            <div th:each="relation, stat : *{typesRelations}">
                <input type="hidden" th:field="*{typesRelations[__${stat.index}__].attackingType.id}"/>
                <label  th:style="'color: ' + *{typesRelations[__${stat.index}__].attackingType.color}"
                        th:text="*{typesRelations[__${stat.index}__].attackingType.name}"></label>
                <label> vs </label>
                <label  th:style="'color: ' + *{typesRelations[__${stat.index}__].defendingType.color}"
                        th:text="*{typesRelations[__${stat.index}__].defendingType.name}"></label>
                <input type="hidden" th:field="*{typesRelations[__${stat.index}__].defendingType.id}"/>
                <label> multiplier: </label>
                <input step="any" type="number" th:field="*{typesRelations[__${stat.index}__].damageMultiplier}"/>
                <div style="clear: right"></div>
            </div>
            <input type="submit" value="Submit" />

        </form>

        <a class="backButton" th:href="@{'/admin/types/update/' + ${baseType.id}}">Back</a>
    </div>
</body>
</html>