<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>FAQs</title>
</head>
<body>
    <div th:replace="cms/fragments/nav :: nav"></div>
    <div class="content">
        <h1>FAQ</h1>
        <a class="addButton" href="/admin/faq/add">Add new</a>
        <div>
            <div class="borderBottom" th:each="faq, stat : ${faqs}">
                <p th:text="${stat.count} +'. '+${faq.question}" style="font-size: 20px;"></p>
                <p th:text="${faq.answer}" style="padding-left: 100px; font-size: 20px; color: #83838b"></p>
                <a style="padding-left: 100px;" class="editButton" th:href="@{'/admin/faq/update/'+ ${faq.id}}">Edit</a>
                <a class="deleteButton" th:href="@{'/admin/faq/delete/'+ ${faq.id}}">Delete</a>
            </div>
        </div>
    </div>
</body>
</html>