<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags"></thymeleaf>
    <title>Edit FAQ</title>
</head>
<body>
    <thymleaf th:replace="cms/fragments/nav :: nav"/>
    <div class="content">
        <h1>Edit faq</h1>
        <form method="post" th:action="@{/admin/faq/update}" th:object="${faq}">
            <input type="hidden" th:field="*{id}"/>

            <label>Question:</label>
            <input type="text" th:field="*{question}"/>

            <label>Answer:</label>
            <textarea style="min-height: 100px;" class="faq-textarea" th:field="*{answer}"></textarea>

            <label>Frequency</label>
            <input type="number" th:field="*{frequency}"/>

            <input type="submit" value="Submit"/>
        </form>
        <a class="backButton" th:href="@{/admin/faq}">Back</a>
    </div>

</body>
</html>