<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="cms/fragments/head :: head_meta_tags" />
    <title>Mails</title>
    <style>
        .question-button{
            width: 100%;
            border: none;
            display: block;
            background-color: transparent;
            text-align: left;
            outline: none;
            font-weight: bold;
            font-size: 20px;
        }
        .question-button:hover{
            background-color: #83838b;
            color: whitesmoke;
        }
        .answer{
            padding-left: 50px;
            display: none;
            font-size: 20px;
        }
        .inline{
            display: inline-block;
        }
        .mail-container{
            width: 45%;
            margin: auto;
        }
    </style>
</head>
<body role="document">
    <div th:replace="cms/fragments/nav :: nav"></div>

    <div class="mail-container">
        <div style="padding-top: 35px;">
            <h1 style="padding-bottom: 20px; text-align: center; font-size: 35px;">MAILS:</h1>
            <div th:each="mail : ${mails}"
                 style="border-bottom: solid 1px #8e9597">
                <button class="question-button">
                    <span class="glyphicon glyphicon-triangle-right inline"></span>
                    <p class="inline" th:text="${mail.email} + ', ' + ${mail.name}"></p>
                    <a class="deleteButton" href="#" th:href="@{'/admin/mail/delete/'+ ${mail.id}}"
                       onclick="return confirm('Do you really want to delete?');">Delete</a>
                </button>
                <p class="answer" th:text="${mail.message}"></p>
            </div>
        </div>
    </div>

    <thymeleaf th:replace="fragments/head :: scripts" />
    <script>
        $('.question-button').click(function(){
            $(this).next().toggle(300);
            $(this).children().first().toggleClass('glyphicon-triangle-right glyphicon-triangle-bottom');
            $(this).css('font-weight', '100');
            $(this).css('color', '#555555');
        });

    </script>
</body>
</html>