html{
    position: relative;
    min-height: 100%;
}


*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #EEE;
    font-size: 62.5%;
    font-family: 'Signika', sans-serif;
}

a:hover{
    color: #6db33f;
}

.content{
    width: 80%;
    margin: auto;
    font-size: 2em;
    margin-bot: 5%;
}

.content h1 {
    margin-top: 3%;
    text-align: center;
    font-size: 2.3em;
}
/* forms */
form{
    padding-top: 5%;
    max-width: 530px;
    width: 80%;
    margin: auto;
    font-size: 1.4em;
}

input[type=text], input[type=number], select, input[type=color], .faq-textarea, #ogarnietosc{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=number] {
    width: 20%;
    float: right;
}

input[type=color] {
    padding: 0;
    height: 50px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/* back button */
.backButton{
    height: auto;
    background-color: dimgrey;
    color:#EEEEEE;
    margin: auto;
    margin-top: 15px;
    height: 40px;
    line-height: 40px;
    width: 25%;
    display: block;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 0.5em;
}

.backButton:hover{
    color:#EEEEEE;
    background-color: #34302d;
}

/* Add button */
.addButton{
    height: auto;
    background-color: #6db33f;
    color:#EEEEEE;
    margin: auto;
    margin-top: 15px;
    height: 50px;
    line-height: 50px;
    width: 25%;
    min-width: 100px;
    display: block;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
}

.addButton:hover {
    color:#EEEEEE;
    background-color: #37d416;
}

/* Collection */
.collection{
    width: 100%;
}

.cont{
    width: 85%;
    max-width: 800px;
    margin: auto;
}


.borderBottom, .element{
    border-bottom: 1px solid #1e730e;
    margin-bottom: 10px;
}

.center{
    margin: auto;
    width: 60%;
    text-align: center;
}

.imgcms{
    height: 160px;
    width: auto;
}



.collection h3{
    font-size: 2em;
    display: block;
}


.counters p, .details p{
    display: inline-block;
}

.editButton, .deleteButton{
    font-size: 0.8em;

}

.counters{
    margin-left: 50px;
}

.details{
    margin-left: 10%;
    width: auto;
    max-width: 500px;
}



.data{
    margin-left: 20%;
    color: #8e9597
}

.dataX{
    margin-left: 20%;
    color: #8e9597
}

.inline{
    display: inline-block;
}

.inline p{
    display: inline-block;
}

/* Navigation bar */

#nav{
    background-color: #34302d;
    width: 100%;
    min-height: 60px;
    border-top: 5px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #6db33f;
}

#nav a{
    display: inline-block;
    width: 19%;
    height: 60px;
    line-height: 60px;
    font-size: 1.8em;
    text-align: center;
    color: #EEE;
}

#nav a:hover{
    background-color: #6db33f;
}

/* Guide */

#guide {
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}

#guide h1{
    text-align: center;
    font-size: 5em;
}

#guide h2{
    text-align: center;
    font-size: 3em;
    color: dimgrey;
    margin-top: 2%;
    margin-bottom: 1%;
}

#guide ul{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.4em;
}

/*---------MAX-WIDTH 1024----------*/
@media screen and (max-width: 1024px){
    .center{
        width: 100%;
    }

    .cont{
        width: 75%;
    }

    .details {
        margin-left: 15px;
    }

    .inline{
        display: block;
        margin: auto;
    }

    .dataX{
        margin-left: 0;

    }
}


/*---------MAX-WIDTH 768----------*/
@media screen and (max-width: 768px){
    #nav a {
        display: inline-block;
    }

    .center{
        width: 100%;
    }

    input[type=number] {
        width: 100%;
        float: none;
        display: inline-block;
    }

}




/*---------MAX-WIDTH 480----------*/
@media screen and (max-width: 480px) {
    #nav a {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    #guide{
        margin-left: 5%;
        margin-right: 3%;
        width: 94%;
        margin-bottom: 10%;
    }

    #guide h2{
        margin-top: 4%;
        margin-bottom: 4%;
    }

    #guide ul{
        margin-left: 5%;
        margin-right: 2%;
        margin-bottom: 2%;
        font-size: 1.4em;
    }
}