@font-face {
        font-family: Pokelogo;
        src: url('/font/pokefont.ttf');
        }

        @font-face {
        font-family: Enigma;
        src: url('/font/Enigma__2.ttf');
        }

        body {
        background: #f2f1ed;
        font-family: Enigma, Helvetica;
        }

        .intro-header {
            background-color: #d2d1ce;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
        }

        .intro-header .site-heading
        {
                padding: 50px 0 15px;
                color: #b10000;
                text-align: center;
        }
        @media only screen and (min-width: 768px) {
            .intro-header .site-heading
        {
        padding: 100px 0;
        }
        }

        .intro-header .site-heading h1,
        .intro-header .page-heading h1
        {
        margin-top: 0;
        font-size: 50px;
        font-family: Pokelogo, Helvetica;
        }

        .subheading {
        font-size: 24px;
        line-height: 1.1;
        display: block;
        color: #333333;

        font-weight: 300;
        margin: 10px 0 0;
        }
        @media only screen and (min-width: 768px) {
            .intro-header .site-heading h1,
            .intro-header .page-heading h1{
               font-size: 80px;
            }
        }
        @media only screen and (max-width: 480px) {
            .intro-header .site-heading h1,
            .intro-header .page-heading h1{
                font-size: 40px;
            }

            .subheading{
                font-size: 25px;
            }
        }
        footer {
        padding: 50px 0 65px;
        }
        footer .list-inline {
        margin: 0;
        padding: 0;
        }
        footer .copyright {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
        }

                #autocomplete:focus {
                                 outline: none !important;
                                 border:1px solid red;
                                 box-shadow: 0 0 8px #b10000;
                             }

                .autocomplete-suggestions { border: 1px solid #b10000; background: #FFF; overflow: auto; }
                .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
                .autocomplete-selected { background: #b10000; }
                .autocomplete-suggestions strong { font-weight: normal; color: #d2d1ce; }
                .autocomplete-group { padding: 2px 5px; }
                .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.counter-pokemon-name {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.counter-thumbnail {
    margin-top: 10px;
}

.counter-container {
    margin: 0 auto;
}

.counter-inactive {
    text-decoration: line-through;
    color: #83838b;
}

.counter-box {
   background: #d2d1ce;
   border: 15px;
   border-style: solid;
   border-color: #f2f1ed;
}


.error-header {
    margin-left: 30px;
    margin-top: 30px;
}

.counter-weak-element {
 color: white;
  margin-top: 10px;
   border-radius: 4px;
       background: black;

}

.counter-header {
        background-color: #d2d1ce;
    -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            margin: 0px;
            padding: 0px;
            padding-top: 10px;
            margin-bottom: 20px;
            padding-bottom: 20px;
}

.counter-header h1 {
        padding: 33px 0 17px 15px;
        color: #b10000;
        text-align: left;
        margin-left: 25px;
        font-size: 70px;
        color: #b10000;
        font-family: Pokelogo, Helvetica;

}

.counter-subheading {
        text-align: center;
        margin: 0 auto;

}

.counter-active {
    color: white;
}

.pretty-header {
    border-bottom: 1px solid #de5a51;
    color: #b10000;
}

  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

  #nav {
      z-index:9999;
      margin-bottom: 0px;
      padding-bottom: 0px;
      background: #b10000;
      border: none;
      border-radius: 0px;
  }

  #nav li {
    font-size: 20px;
    display: block;
    float: left;
  }

  #nav li a:hover {
      background: #740000;
  }

  .active-a {
        color: white !important;
        padding: 0px;
  }

    a, a:hover, a:active, a:visited {
          color: #b10000;
    }

    .search-img {
        height: 200px;
       }

#padding-margin-clear{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.search-again{
    margin-top: 10px;
    max-width: 450px;
    float: right;
    clear-after: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-again input{
    max-height: 33px;
}

#search-again-button{
    border: none;
    background: transparent;
    background-color: transparent;
    color: whitesmoke;
    height: 50px;
    float: right;
    clear-after: right;
    display: none;
}



/*---------MAX-WIDTH 992----------*/
@media screen and (max-width: 992px) {
    .left-right-margin-reset {
        margin-left: 0;
        margin-right: 0;
    }
    .max-height{
        max-height: 180px;
        width: auto;
    }

    #padding-margin-clear{
        margin: 0;
        padding: 0;
    }
    .search-again{
        max-width: 330px;
    }
}

/*---------MAX-WIDTH 768----------*/
@media screen and (max-width: 767px) {
    .padding-fix {
        padding-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .text-center{
        text-align: center;
    }

    .search-again{
        max-width: 350px;
        float: left;
        clear-after: left;
    }


    #search-again-button{
        height: 40px;
        float: right;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media screen and (max-width: 360px) {
    .subheading {
        font-size: 20px;
    }

    .search-again{
        max-width: 250px;
    }

    #nav li a{
        padding-right: 10px;
        padding-left: 10px;
    }

    #counter-navbar li a{
        font-size: 16px;
    }

    #menu-container{
        width: 310px;
        margin: auto;
    }

}

@media (min-width: 0px) and (max-width:480px) {
    #nav li {
        padding-left: 0px;
    }


    .counter-max-height{
        max-height: 210px;
        width: auto;
    }

    .counter-pokemon-name{
        font-size: 25px;
    }
    .text-center{
        margin-top: 0;
        margin-bottom: 0;
    }

    .normal-attacks{
        padding-left: 0;
    }

    .special-attacks {
        padding-left: 0;
        padding-right: 0;
    }

    #padding-margin-clear{
        font-size: 55px;
    }

    .intro-header .site-heading
    {
        padding: 30px 0 15px;
    }

    .col-xs-B-1, .col-xs-B-2, .col-xs-B-3, .col-xs-B-4, .col-xs-B-5, .col-xs-B-6, .col-xs-B-7, .col-xs-B-8, .col-xs-B-9, .col-xs-B-10, .col-xs-B-11, .col-xs-B-12 {
        float: left;
    }

    .col-xs-B-12 {
        width: 100%;
    }

    .col-xs-B-11 {
        width: 91.66666667%;
    }

    .col-xs-B-10 {
        width: 83.33333333%;
    }

    .col-xs-B-9 {
        width: 75%;
    }

    .col-xs-B-8 {
        width: 66.66666667%;
    }

    .col-xs-B-7 {
        width: 58.33333333%;
    }

    .col-xs-B-6 {
        width: 50%;
    }

    .col-xs-B-5 {
        width: 41.66666667%;
    }

    .col-xs-B-4 {
        width: 33.33333333%;
    }

    .col-xs-B-3 {
        width: 25%;
    }

    .col-xs-B-2 {
        width: 16.66666667%;
    }

    .col-xs-B-1 {
        width: 8.33333333%;
    }

    .col-xs-B-pull-12 {
        right: 100%;
    }

    .col-xs-B-pull-11 {
        right: 91.66666667%;
    }

    .col-xs-B-pull-10 {
        right: 83.33333333%;
    }

    .col-xs-B-pull-9 {
        right: 75%;
    }

    .col-xs-B-pull-8 {
        right: 66.66666667%;
    }

    .col-xs-B-pull-7 {
        right: 58.33333333%;
    }

    .col-xs-B-pull-6 {
        right: 50%;
    }

    .col-xs-B-pull-5 {
        right: 41.66666667%;
    }

    .col-xs-B-pull-4 {
        right: 33.33333333%;
    }

    .col-xs-B-pull-3 {
        right: 25%;
    }

    .col-xs-B-pull-2 {
        right: 16.66666667%;
    }

    .col-xs-B-pull-1 {
        right: 8.33333333%;
    }

    .col-xs-B-pull-0 {
        right: 0%;
    }

    .col-xs-B-push-12 {
        left: 100%;
    }

    .col-xs-B-push-11 {
        left: 91.66666667%;
    }

    .col-xs-B-push-10 {
        left: 83.33333333%;
    }

    .col-xs-B-push-9 {
        left: 75%;
    }

    .col-xs-B-push-8 {
        left: 66.66666667%;
    }

    .col-xs-B-push-7 {
        left: 58.33333333%;
    }

    .col-xs-B-push-6 {
        left: 50%;
    }

    .col-xs-B-push-5 {
        left: 41.66666667%;
    }

    .col-xs-B-push-4 {
        left: 33.33333333%;
    }

    .col-xs-B-push-3 {
        left: 25%;
    }

    .col-xs-B-push-2 {
        left: 16.66666667%;
    }

    .col-xs-B-push-1 {
        left: 8.33333333%;
    }

    .col-xs-B-push-0 {
        left: 0%;
    }

    .col-xs-B-offset-12 {
        margin-left: 100%;
    }

    .col-xs-B-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xs-B-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xs-B-offset-9 {
        margin-left: 75%;
    }

    .col-xs-B-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xs-B-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xs-B-offset-6 {
        margin-left: 50%;
    }

    .col-xs-B-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xs-B-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xs-B-offset-3 {
        margin-left: 25%;
    }

    .col-xs-B-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xs-B-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xs-B-offset-0 {
        margin-left: 0%;
    }
}