<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf th:replace="fragments/head :: head_meta_tags" />
    <title>Pokecounters - error</title>
</head>

<body role="document">
    <img src="img/sadtogepi.jpg" alt=":("/>
    <header class="error-header">
        <h1 th:text="'Error ' + ${status}">Error</h1>
        <h4>Whoops! Something went terribly wrong! Please go back to <a th:href="@{/}">main page</a> and try again.</h4>
        <h4>If the problem persists, feel free to use <a th:href="@{/contact}">contact form</a> to inform us about the issue.</h4>
    </header>

    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
    <div th:if="${exception}">
        <div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
        <ul th:remove="tag">
            <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
                    th:utext="${ste}" th:remove="tag">${ste}</span></li>
        </ul>
    </div>
    <div th:utext="'--&gt;'" th:remove="tag"></div>

    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>