<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf th:replace="fragments/head :: head_meta_tags" />
    <title>Pokecounters - contact</title>
    <style>
        h1{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;;
        }
        hr{
            display:block;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
            border: solid 1px #8e9597;
        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        img{
            width: 60px;
            height: auto;
        }
        img:hover{
            opacity: 0.5;
        }
    </style>
</head>

<body role="document">

    <nav class="navbar navbar-inverse left-right-margin-reset" id="nav" data-spy="affix" data-offset-top="65">
        <ul class="nav navbar-nav left-right-margin-reset">
            <li style="padding-left: 10px;"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/faq}">FAQ</a></li>
            <li><a th:href="@{/pokemon-list}">List</a></li>
            <li><a th:href="@{/contact}" class="active-a">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="margin-bottom: 30px;">
                <div style="margin-bottom: 10px">
                    <h1>CONTACT</h1>
                    <hr/>
                    <h3>We would <span class="glyphicon glyphicon-heart-empty"/> to help!</h3>
                    <p>If you have any questions or ideas feel free to contact us!</p>
                </div>
                <h2 style="color: green; text-align: center;" th:if="${sent}" th:text="'Thank you for your message. You will be hearing from us quickly'"></h2>
                <div style="margin-top: 20px">
                    <form th:action="@{/contact}" th:object="${contactMessage}" method="post">
                        <div class="form-group">
                            <input th:field="*{name}" type="text" class="form-control" placeholder="Your name"/>
                        </div>
                        <div class="form-group">
                            <input th:field="*{email}" type="email" class="form-control"  placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <textarea th:field="*{message}" rows="6" class="form-control" placeholder="Message"/>
                        </div>
                        <input type="submit" value="Send" class="btn btn-default"/>
                    </form>
                </div>
                <div style="margin-top: 20px;">
                    <div class="col-lg-1 col-lg-offset-10 col-xs-2 col-xs-offset-4 col-xs-B-2 col-xs-B-offset-3">
                        <a href="http://facebook.com/"><img th:src="@{/img/social/facebookhover.png}"/></a>
                    </div>
                    <div class="col-lg-1 col-xs-2 col-xs-B-2 col-xs-B-offset-2">
                        <a href="http://twitter.com/"><img th:src="@{/img/social/twitterhover.png}"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
    <thymeleaf th:replace="fragments/head :: scripts" />

</body>
</html>