<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf th:replace="fragments/head :: head_meta_tags" />
    <title th:text="'Pokecounters - ' + ${pokemon.name}">Pokecounters - Pokemon </title>
</head>

<body role="document">

    <nav class="navbar navbar-inverse left-right-margin-reset" id="nav" data-spy="affix" data-offset-top="155">
        <div id="menu-container">
            <ul class="nav navbar-nav left-right-margin-reset" id="counter-navbar" >
                <li style="padding-left: 10px;"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/faq}">FAQ</a></li>
                <li><a th:href="@{/pokemon-list}">List</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><button type="submit" id="search-again-button"><span id="toggler" class="glyphicon glyphicon-search"></span></button></li>
            </ul>
            <div class="search-again input-group">
                <input type="text" class="form-control" placeholder="search for other pokemons.." id="autocomplete" name="query" value=""/>
                <div class="input-group-btn">
                    <button type="submit" class="btn" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
    </nav>

    <header class="counter-header" >
        <div class="row" style="padding-right: 0; margin-right: 0;">
            <div class="col-lg-3 col-md-2 col-xs-0" />
            <div class="col-lg-6 col-md-8 col-xs-12" style="padding-right: 0; margin-right: 0;">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <img class="img-responsive center-block counter-max-height" th:src="${pokemon.imageUrl}" th:alt="${pokemon.name}"/>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <h1 id="padding-margin-clear" style="text-align: center; " th:text="${pokemon.name}"></h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-xs-0"/>
        </div>
    </header>

    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-xs-12">
            <div class="row left-right-margin-reset">
                <div class="col-md-6 col xs-9">
                    <h2 class="pretty-header" th:text="'Countered by elements:'">Elements:</h2>
                </div>
            </div>
            <div class="row">
                <div th:each="element: ${counterTypes}" class="col-xs-6 col-md-6 col-lg-6 counter-weak-element"
                     th:style="'border-left: 2px solid #f2f1ed; border-right: 2px solid #f2f1ed; background:' + ${element.color} + ';'" th:text="${element.name}"></div>
            </div>
        </div>
    </div>

    <div class="container counter-container">
        <div class="row left-right-margin-reset">
            <div class="col-md-4 col xs-12">
                <h2 class="pretty-header" th:text="'Countered by pokemons:'">Pokemons:</h2>
            </div>
        </div>
        <div class="row left-right-margin-reset">
            <div th:each="counter : ${counters} " class="col-xs-12 col-md-6 col-xs-B-12 counter-box" style="min-height: 335px;">
                    <div class="col-md-7 col-xs-7 col-xs-B-12 padding-fix">
                            <span th:text="${counter.name}" class="counter-pokemon-name"/>
                            <a th:href="@{/counters/{name}(name=${counter.name})}" class="counter-thumbnail">
                                <img class="img-responsive center-block img-rounded" th:src="${counter.imageUrl}" th:alt="${counter.name}"/>
                            </a>
                    </div>
                    <div class="attacks-section col-md-5 col-xs-5 col-xs-B-12 padding-fix" id="attacks-section">
                        <h3 class="text-center">Attacks</h3>
                        <div class="normal-attacks col-lg-12 col-xs-12  col-xs-B-6">
                            <h5 style="margin-bottom: 4px; padding-bottom: 0px;">Normal:</h5>
                            <div th:each="attack : ${counter.normalAttacks}">
                                <div th:switch="${attack.active}">
                                    <span th:case="true" th:text="${attack.name} + ' (' + ${attack.elementName}+ ')' " th:style="'background:' + ${attack.elementColor} + ';'" class="counter-active"></span>
                                    <span th:case="false" th:text="${attack.name} + ' (' + ${attack.elementName}+ ')' " class="counter-inactive"></span>
                                </div>
                            </div>
                        </div>
                        <div class="special-attacks col-lg-12 col-xs-12 col-xs-B-6">
                            <h5 style="margin-top: 7px; margin-bottom: 4px; padding-bottom: 0px;">Special:</h5>
                            <div th:each="attack : ${counter.specialAttacks}">
                                <div th:switch="${attack.active}">
                                    <span th:case="true" th:text="${attack.name} + ' (' + ${attack.elementName}+ ')' " th:style="'background:' + ${attack.elementColor} + ';'" class="counter-active"></span>
                                    <span th:case="false" th:text="${attack.name} + ' (' + ${attack.elementName}+ ')' " class="counter-inactive"></span>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"  class="left-right-margin-reset"></footer>
    <thymeleaf th:replace="fragments/head :: scripts" />

</body>
</html>