<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf th:replace="fragments/head :: head_meta_tags" />
    <title>Pokecounters - FAQ</title>
    <style>
        .question-button{
            width: 100%;
            border: none;
            display: block;
            background-color: transparent;
            text-align: left;
            outline: none;
        }
        .question-button:hover{
            background-color: #83838b;
            color: whitesmoke;
        }
        .answer{
            padding-left: 50px;
            display: none;
        }
        .inline{
            display: inline-block;
        }
    </style>
</head>

<body role="document">
    <nav class="navbar navbar-inverse left-right-margin-reset" id="nav" data-spy="affix" data-offset-top="65">
        <ul class="nav navbar-nav left-right-margin-reset" >
            <li style="padding-left: 10px;"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/faq}" class="active-a">FAQ</a></li>
            <li><a th:href="@{/pokemon-list}">List</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1" style="padding-top: 35px;">
                <h1 style="padding-bottom: 20px;">Frequently asked questions:</h1>
                <div th:each="faq : ${faqs}"
                    style="border-bottom: solid 1px #8e9597">
                    <button class="question-button">
                        <span class="glyphicon glyphicon-triangle-right inline"></span>
                        <b><p class="inline" th:text="${faq.question}"></p></b>
                    </button>
                    <p class="answer" th:text="${faq.answer}"></p>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
    <thymeleaf th:replace="fragments/head :: scripts" />
    <script>
        $('.question-button').click(function(){
            $(this).next().toggle(300);
            $(this).children().first().toggleClass('glyphicon-triangle-right glyphicon-triangle-bottom');
        });
    </script>
</body>
</html>