<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf th:replace="fragments/head :: head_meta_tags" />
    <title>Pokecounters</title>
</head>

<body role="document">

    <nav class="navbar navbar-inverse left-right-margin-reset" id="nav" data-spy="affix" data-offset-top="155">
        <ul class="nav navbar-nav left-right-margin-reset">
            <li style="padding-left: 10px;"><a th:href="@{/}" class="active-a">Home</a></li>
            <li><a th:href="@{/faq}">FAQ</a></li>
            <li><a th:href="@{/pokemon-list}">List</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>

    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Pokecounters</h1>
                        <span class="subheading">
                            Wreak havoc on gyms in Pokemon GO using this simple tool.
                        </span>
                        <h4 style="color: red" th:if="${error}" th:text="'Unfortunately, pokemon was not found.'"></h4>
                        <div class="input-group" style="margin-top: 10px">
                            <input type="text" class="form-control" placeholder="start typing pokemon name" id="autocomplete" name="query" value=""/>
                            <div class="input-group-btn">
                                <button type="submit" class="btn" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
                <h3 class="pretty-header">Most popular searches:</h3>
                    <div class="row">
                        <div th:each="search : ${popularSearches}" class="col-xs-6 col-md-3 search-img" style="height: auto;">
                            <a th:href="@{/counters/{name}(name=${search.pokemon.name})}">
                                <img class="img-responsive max-height" th:src="${search.pokemon.imageUrl}"/>
                            </a>
                            <span th:text="${search.pokemon.name}"/>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
                <h3 class="pretty-header">Recent searches:</h3>
                    <div class="row">
                        <div th:each="search : ${latestSearches}" class="col-xs-6 col-md-3 search-img" style="height: auto;">
                            <a th:href="@{/counters/{name}(name=${search.pokemon.name})}">
                               <img class="img-responsive max-height" th:src="${search.pokemon.imageUrl}"/>
                            </a>
                            <span th:text="${search.pokemon.name}" style="margin: 0 auto; margin-bottom: 8px;"/>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
    <thymeleaf th:replace="fragments/head :: scripts" />

</body>
</html>