<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <thymeleaf th:replace="fragments/head :: head_meta_tags" />
    <title>Pokecounters - all pokemons</title>
</head>

<body role="document">

    <nav class="navbar navbar-inverse left-right-margin-reset" id="nav" data-spy="affix" data-offset-top="65">
        <ul class="nav navbar-nav left-right-margin-reset">
            <li style="padding-left: 10px;"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/faq}">FAQ</a></li>
            <li><a th:href="@{/pokemon-list}" class="active-a">List</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </nav>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div th:each="pokemon : ${pokemons}" class="col-md-2 col-xs-4" style="height: auto;">
                <a th:href="@{/counters/{name}(name=${pokemon.name})}">
                    <span th:text="${pokemon.name}"></span>
                    <img class="img-responsive max-height" th:src="${pokemon.imageUrl}" th:alt="${pokemon.name}"/>
                </a>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
    <thymeleaf th:replace="fragments/head :: scripts" />

</body>
</html>